name: test

on:
  pull_request:
    branches:
      - main
  merge_group:
  workflow_call:

jobs:
  test:
    name: Test (Python ${{ matrix.python-version }} on ${{ matrix.os }})
    runs-on:
      labels: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@fc2d68f6413eb2d87b895e92f8584b5b94a10167   # v3.3.0
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          miniconda-version: latest
      - name: Install testing dependencies
        shell: bash -el {0}
        run: |
          pip install tox tox-conda tox-gh-actions
      - name: Test with tox
        shell: bash -el {0}
        run: tox

  build-conda-package:
    name: Build conda package
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
          with:
            fetch-depth: 0
        - name: Create build environment
          run: |
            source $CONDA/bin/activate
            conda create -n build --file ./etc/build.linux-64.lock
        - name: conda build
          run: |
            source $CONDA/bin/activate && conda activate build
            mkdir -p ./conda-bld
            VERSION=`hatch version` conda build -c conda-forge -c defaults --override-channels conda.recipe --output-folder ./conda-bld
        - name: Upload the build artifact
          uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
          with:
            name: conda-${{ github.sha }}
            path: ./conda-bld
            if-no-files-found: error
            retention-days: 7

  build-wheel:
    name: Build the wheel
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14"
      - name: Install build dependencies
        run: pip install build
      - name: Build the package
        run: python -m build
      - name: Upload the build artifact
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: wheel-${{ github.sha }}
          path: dist/*
          if-no-files-found: error
          retention-days: 7

  # This check job runs to ensure all tests and builds have passed, such that we can use it as a "wildcard"
  # for branch protection to ensure all tests pass before a PR can be merged.
  check:
    name: Check all tests passed
    if: always()
    needs: [test, build-conda-package, build-wheel]
    runs-on: ubuntu-latest
    steps:
    - name: Decide whether all required jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}
